/* 8 - 3 Columnas Responsive Flexbox */

/* Enfoque mobil first es el estandar */
@media (min-width: 768px) {
  .tres-columnas-flex {
    display: flex;
    gap: 2rem;
  }
  .columna {
    flex-grow: 1;
  }
}
